.vscode/



build/



server/cert
server/node_modules
server/src
server/temp
server/download-app.js
server/package-lock.json
server/version.json


client/__mocks__
client/dist
client/dist-prod
client/dist-report
client/jimu-arcgis
client/jimu-core
client/jimu-for-builder
client/jimu-for-test
client/jimu-icons
client/jimu-layouts
client/jimu-theme
client/jimu-ui
client/node_modules
client/scripts
client/types
client/webpack

client/jest-systemjs-transformer.js 
client/jest.config.js
client/npm-bootstrap-extensions.js
client/package-lock.json
client/package.json
client/tsconfig.json
client/webpack.config.js
